.App {
  text-align: center;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,440200+100 */
background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(68,2,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#440200',GradientType=1 ); /* IE6-9 */
color: beige;
/* height: 700px; HAVE TO REMOVE THIS LATER WHEN HAVE CONTENTS */
padding-top: 10px;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 1px solid beige !important;
}
.imgoverlay {
  position: absolute;
  left: 20%;
  top:60%;
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 18px;
  text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000; 

}
.nav {
  background: linear-gradient(to right, rgba(68,2,0,0.8) 0%,rgba(0,0,0,0.8)60%);
}


.dropdown-menu {
  background: linear-gradient(to right, rgba(68,2,0,0.92) 0%,rgba(0,0,0,0.92)60%) !important;
}

.dropdown-menu.show {
  display: block;
  width: 99%;
}

/* .li:hover{
  text-decoration: underline;
  font-size:18px;} */

.logo{
  height: 42px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Modal */
.ReactModal__Content--after-open {
  background: none !important;
  border: none !important;
}

.ReactModal__Overlay--after-open {
  background: linear-gradient(to right, rgba(0,0,0,0.9) 0%,rgba(68,2,0,0.9) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.modal-content {
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(68,2,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.modal-header {
  border: none !important;
}

.modal-footer {
 border: none !important;
}